/* Write your CSS here */
.match-card {
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 45%;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
}
.match-card-logo {
  width: 70px;
  height: 70px;
}
.match-card-name {
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
  color: white;
  text-align: center;
}
.match-card-result {
  color: white;
  font-weight: 500;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
}
.match-card-status {
  color: white;
  font-size: 18px;
  font-family: Bree serif;
}
.Won {
  color: #18ed66;
}
.Lost {
  color: #e31a1a;
}
