/* Write your CSS here */
.link-tem {
  text-decoration: none;
}
.team-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: none;
  margin: 12px;
  flex-wrap: wrap;
  background-color: #475569;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
  border: 1px solid white;
  padding: 5px 10px 5px 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  list-style-type: none;
}

.team-card-image {
  width: 80px;
  height: 80px;
}
.team-card-name {
  font-size: 15px;
  font-weight: 500;
  font-family: Roboto;
  color: white;
  margin-left: 12px;
  margin-left: 10px;
  text-align: center;
}
